html, body {
  width: 210px;
}
.hidden {
  display: none;
}
.button {
  margin: 3% auto;
  padding: 4px;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
}
.effect_1:hover{
  background-color: blue;
  border: solid 2px black;
  border-spacing: border-box;
}
.effect_2:hover {
  background-color: red;
  border: dashed 2px orange;
  border-spacing: border-box;
}
.effect_3:hover {
  background-color: green;
  border: solid 2px white;
  border-spacing: border-box;
}
.effect_4:hover{
  background-color: yellow;
  border: dotted 2px pink;
  border-spacing: border-box;
}
.blank:hover {
  background-color: rgba(0,0,0,0.05);
}
#popup-content{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;  
  height:100px;
  justify-content: space-between;
}
#row1{
  padding-left: 10px;
  padding-right: 10px;
  display:flex;
  flex-direction: column;
}
#row2{
  padding-left: 10px;
  padding-right: 10px;
  display:flex;
  flex-direction: column;
}
.effect_1{
  background-color: rgba(0,0,255,0.6);
}
.effect_2{
  background-color: rgba(255,0,0,0.6);
}
.effect_3{
  background-color: rgba(0,255,0,0.6);
}
.effect_4{
  background-color: rgba(255,255,0,0.6);
}
.blank {
  margin-left: 10px;
  width: 172px;
  background-color: rgba(0,0,0,0.01);
}



