html, body {
  width: 150px;
  height: 300px;
}

.hidden {
  display: none;
}

.button {
  margin: 3% auto;
  padding: 4px;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
}

.effect:hover {
  background-color: #CFF2F2;
}
.effect_1:hover{
  background-color: #CFF2F2;
}

.effect {
  background-color: #E5F2F2;
}

.blank {
  background-color: #FBFBC9;
}

.blank:hover {
  background-color: #EAEA9D;
}

.blue{
  background-color: blue;
}
